@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body{
    background: #171c24;    
}
/* Navbar styling */
.wrapper{
  background: #171c24;
  position: fixed;
  width: 100%;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

/* Navbar End */
/*  Container */
.container{
    background-image: url(../img/bg.jpg);
    width: 100vw;
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.container h1{
    color: #fff;
    margin: 5rem;
    float: right;
    font-size: 6rem;
}
@media screen and (max-width: 400px){
    .container h1{
        font-size: 1.3rem;
        margin-top: 6rem;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 1286px){
    .container h1{
        font-size: 4rem;
        margin-top: 6rem;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 856px){
    .container h1{
        font-size: 2rem;
        margin-top: 6rem;
        margin-right: 1rem;
    }
}
/* planets Section */
section .heading h1{
    font-size: 6rem;
    margin: 20px 0px;
    text-align: center;

}
.planets{
    flex-wrap: wrap;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
     margin: 20px;
    display: flex;
   justify-content: center;
   align-items: center;
    flex-direction: column;
    text-align: center;
  background-color: #e0e0e0;
  border-radius: 6px;
  width: 24rem;
  transition: all .5s;
}

.card h1,h2,h3,h4,img{
    margin: 5px;
}
.card:hover{
    transform: translateY(-10px);
}
.card .img img{
  box-sizing: border-box;
  width: 6rem;
}
@media screen and (max-width: 856px){
    section .heading h1{
        font-size: 4rem;
        margin: 20px 0px;
        text-align: center;
    
    }
    .card{
     width: 22rem;
   }
 .card .content h4{
     font-size: .75rem;
 }
 .card h1,h2,h3,h4,img{
    margin: 5px;
}
}
/* comet section */
.comet{
  width: 80vw;
  margin: auto;
  overflow: hidden;
}
.comet .comet-content h1{
  font-size: 2rem;
  margin: 10px 0px;
  color: #fff;

}
.comet .comet-content p{
  font-size: 1rem;
  margin: 10px 0px;
  color: #fff;

}
.comet .comet-content .comet-box ul{
  color: #fff;
}
.comet .comet-content .comet-box{
justify-content: space-between;
display: flex;
align-self: center;
}
.comet .comet-content .comet-box .img{
width: 50%; 
height: 15rem; 
}
.comet .comet-content .comet-box .img img{
width: 80%;
height: 80%;
}
/* scientific Devlopment */
.entertainment{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.entertainment .heading{
  margin: 20px 20px;
}
.entertainment .news{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
  width: 320px;
  height: 320px;
  background-color: rgba(128, 128,128, .07) ;
  border: 1px  solid grey;

}
.entertainment .news h3{
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}
.entertainment .news p{
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}
.entertainment .news .image img{
  width: 250px;
  height: 150px;
}
#btn{
  position: absolute;
  margin-top: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  

}
#btn #see-more{

  background-color: transparent;
  border: solid initial;
  border-radius: 5px;
  padding: 5px;

}
#btn #see-more:hover{
   transition: all .6s linear;
  transform:  scale(1.1);
}
.h1-scientific{
  margin: 30px 0px;
  text-align: center;
  font-size: 2rem;
}
@media screen and (max-width: 400px){
  .h1-scientific{
    font-size: 1.3rem;
  }
  
  }
  
  /* footer */
footer{
  margin: 100px 0px 0px 0px;
  background-color: black;
}
.label{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.label .box1,.box2,.box3,.box4 {
  margin: 10px;
  color: #fff;
  text-align: center;
}
.label .box1 ul li a,.box2 ul li a,.box3 ul li a,.box4 ul li a{
text-decoration: none;
color: #fff;
}
.label .box1 ul li:hover, .box2 ul li:hover,.box3 ul li:hover,.box4 ul li:hover{
  color: crimson;
}
@media screen and (max-width: 400px){
  .label .box1,.box2, .box3 {
    margin: 10px;
    color: #fff;
    width: 100%;
    text-align: center;
  }
  .label .box1 ul li a,.box2 ul li a{
  text-decoration: none;
  color: #fff;
  }
  .label .box1 ul li a:hover, .box2 ul li a:hover,.box3 ul li a:hover{
    color: crimson;
  }
  }